# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# netcdf/tif outputs & inputs
/02_data/**/*.tif
/02_data/**/*.nc
/02_data/02_processed/*.nc
/02_data/02_processed/**/*.nc
/02_data/02_processed/**/*.tif
/02_data/02_processed/**/*.json
03_comparisons/agcd_1910_1989_monthly.tif
03_comparisons/agcd_1980_1989_monthly.tif
03_comparisons/brown_1910_1989_monthly.tif
03_comparisons/brown_1980_1989_monthly.tif
03_comparisons/CHELSA_1980_1989_monthly.tif
03_comparisons/CHELSA_Trace21_1950_monthly.tif
scratch/*.tif
